# Eclipse
.classpath
.project
.settings/

# JDT-specific (Eclipse Java Development Tools)
*.class

# Gradle
.gradle/
build/

# Maven
target/

# Logs y archivos de salida
*.log
*.swp
*.bak
*.tmp

# Carpetas específicas de Eclipse para plugins
.metadata/
bin/
tmp/

# Carpetas específicas de Eclipse para el servidor Tomcat
work/
catalina/

# Carpetas específicas de Eclipse para el servidor JBoss
data/
log/

# Carpetas específicas de Eclipse para el servidor Wildfly
standalone/data/
standalone/log/
standalone/tmp/
standalone/deployments/

# Carpetas específicas de Eclipse para el servidor GlassFish
domains/domain1/generated/

# Carpetas específicas de Eclipse para el servidor WebSphere
.wst/
.metadata/

# Eclipse Che
.che/

# Carpetas de respaldo y archivos temporales
*~
.DS_Store
Thumbs.db
ehthumbs.db

# Eclipse Neon (4.6) specific
.metadata/
Recommenders/

# Eclipse Oxygen (4.7) specific
.target/
.cache/
org.eclipse.recommenders.model/
*.mpc

# Eclipse Photon (4.8) specific
.vscode/
.mvn/
.tmproj
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name

# Eclipse IDE specific (all versions)
.history/
.metadata/

# Carpetas y archivos específicos de proyectos
# (Agrega cualquier carpeta o archivo específico de tu proyecto aquí)
**/desktop.ini